{% extends "chat/chat.html" %}
{% block title %}{{room_name}} Chatroom{% endblock %}

{% block chat_name %}{{room_name}} Chatroom
    {% if request.user in chat_room.administrators.all %}
        <a href="{% url 'chat:edit_private_chat' chat_id=chat_id %}" class="btn btn-primary">Edit</a>
    {% endif %}
    <a href="{% url 'chat:leave_private_chat' chat_id=chat_id %}" class="btn btn-danger">Leave</a>
    <span style="color: red;">
        <p id="id_connected_users_count" style="display: inline;">0</p>
        <span class="material-icons m-auto pr-1">person_outline</span>
    </span>
{% endblock chat_name %}

{% block script %}

{{ room_name|json_script:"room_name" }}
{{ chat_id|json_script:"chat_id" }}
{{ request.user.username|json_script:"user_username" }}
<script>

    const user_username = JSON.parse(document.getElementById("user_username").textContent);
    const room_name = JSON.parse(document.getElementById("room_name").textContent);
    const chat_id = JSON.parse(document.getElementById("chat_id").textContent);
	const chatarea = document.querySelector("#id_chat_content");
    var chatSocketProtocol = window.location.protocol == "https:" ? "wss" : "ws";
    const chatSocket = new WebSocket(`${chatSocket_protocol}://${window.location.host}/ws/chat/private/${chat_id}/`)
    const connected_users_count = document.querySelector("#id_connected_users_count");

	function scrollBottom() {
		chatarea.scrollTop = chatarea.scrollHeight;
	}
	scrollBottom();

    function sendMessage() {
        const messageInput = document.querySelector("#id_message_input");
        const message = messageInput.value;

        chatSocket.send(JSON.stringify({
            "message": message,
            "username": user_username,
        }))
        messageInput.value = "";
		return false;

    }


    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.command === "send_message" && data.message) {
            chatarea.value += (data.username + ": " + data.message + "\n");
			scrollBottom();
        }
        if (data.command === "join_room") {
            chatarea.value += (`SYSTEM: ${data.username} is now online in this chat :)\n\n`);
            connected_users_count.innerHTML = data.connected_users_count;
            scrollBottom();
        }
        if (data.command === "leave_room") {
            chatarea.value += (`SYSTEM: ${data.username} went away of this chat :(\n\n`);
            connected_users_count.innerHTML = data.connected_users_count;
            scrollBottom();
        }
    }
</script>

{% endblock script %}