{% extends "chat/chat.html" %}
{% block title %}{{room_name}}{% endblock %}

{% block chat_name %}{{room_name}} Chatroom
    {% if request.user in chat_room.administrators.all %}
        <a href="{% url 'chat:edit_private_chat' chat_id=chat_id %}" class="btn btn-primary">Edit</a>
    {% endif %}
    <a href="{% url 'chat:leave_private_chat' chat_id=chat_id %}" class="btn btn-danger">Leave</a>
{% endblock chat_name %}

{% block script %}

{{ room_name|json_script:"room_name" }}
{{ chat_id|json_script:"chat_id" }}
{{ request.user.username|json_script:"user_username" }}
<script>

    const user_username = JSON.parse(document.getElementById("user_username").textContent);
    const room_name = JSON.parse(document.getElementById("room_name").textContent);
    const chat_id = JSON.parse(document.getElementById("chat_id").textContent);
	const chatarea = document.querySelector("#id_chat_content");
    const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/private/${chat_id}/`)

	function scrollBottom() {
		chatarea.scrollTop = chatarea.scrollHeight;
	}
	scrollBottom();


    function sendMessage() {
        const messageInput = document.querySelector("#id_message_input");
        const message = messageInput.value;

        chatSocket.send(JSON.stringify({
            "message": message,
            "username": user_username,
        }))
        messageInput.value = "";
		return false;

    }


    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.message) {
            chatarea.value += (data.username + ": " + data.message + "\n");
			scrollBottom();
        }
    }
</script>

{% endblock script %}