<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'posts:home' %}">Home</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<form
					class="d-flex"
					id="id_seach_form"
					onsubmit="return executeSearch();"
				>
					<input
						id="id_search_bar"
						class="form-control me-2 custom-dark-input"
						type="search"
						placeholder="Search"
						aria-label="Search"
					/>
					<button
						id="id_seach_submit_button"
						class="btn btn-outline-primary"
						type="submit"
					>
						Search
					</button>
				</form>
				<li class="nav-item">
					<a
						class="nav-link active"
						aria-current="page"
						href="{% url 'chat:public_chat' %}"
						>Public Chat</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdown"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Dropdown
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><hr class="dropdown-divider" /></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled">Disabled</a>
				</li>
			</ul>
			<div class="btn-group dropstart">
			{% if request.user.is_authenticated %}
				<button
					class="btn btn-secondary dropdown-toggle"
					type="button"
					id="id_profile_image_dropdown_button"
					data-bs-toggle="dropdown"
					aria-expanded="false"
				>
					<img
						class="account-image rounded-circle m-auto d-block dropdown-toggle"
						id="id_profile_image_dropdown"
						src="{{request.user.profile_image.url}}"
						alt="p"
						width="40"
						height="40"
					/>
				</button>
				<ul
					class="dropdown-menu dropdown-menu-dark"
					aria-labelledby="id_profile_image_dropdown_button"
				>
					<li><a class="dropdown-item" href="{% url 'account:profile' id=request.user.pk %}">Account</a></li>
					<li><hr class="dropdown-divider" /></li>
					<li><a class="dropdown-item" href="{% url 'account:settings' id=request.user.pk %}">Settings</a></li>
					<li><a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a></li>
				</ul>
			{% else %}
				<a class="btn btn-primary" href="{% url 'account:login' %}">Login</a>
				<p style="visibility: hidden;">a</p>
				<a class="btn btn-outline-primary" href="{% url 'account:register' %}">Register</a>
			{% endif %}
			</div>
		</div>
	</div>
</nav>

<script>
	function executeSearch() {
		query = document.getelementById("id_search_bar").value;
		window.loaction.replace("{% url 'account:search' %}?q=" + query);

		return false;
	}
</script>
