{% extends "base.html" %}
{% block title %}Profile of {{user.username}}{% endblock title %}
{% load static %}

{% block content %}
<br>
<div class="card-group justify-content-center">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
        <img src="{{user.profile_image.url}}" alt="Platt" class="card-img-top">
        <div class="card-header">{{ user.biography }}</div>
        <div class="card-body">
            <p class="card-text">Username:</p>
            <h5 class="card-text">{{ user.username }}</h5>
            <br>
            <p class="card-text">Email Address:</p>
            {% if is_self %}
                <h5 class="card-text">{{user.email}}</h5>
                <br>
                <a class="btn btn-primary" href="{% url 'account:settings' user_id=request.user.pk %}">Edit Account</a>
            {% else %}
                {% if user.hide_email %}
                    <h5 class="card-text">**********</h5>
                {% else %} 
                    <h5 class="card-text">{{user.email}}</h5>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
        <div class="card-header">Statistics</div>
        <div class="card-body">
            <h5 class="card-title">{{user.biography}}</h5>
            <a href="{% url 'account:user_posts' user_id=user.pk %}" style="text-decoration: none;">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        Posts - {{post_list|length}}
                    </div>
                </div>
            </a>
        </div>
        <div class="card-footer">
            <p class="text-muted">Member since {{ user.date_created }}</p>
        </div>
    </div>
</div>
{% endblock content %}