{% extends "base.html" %}
{% block title %}Profile of {{user.username}}{% endblock title %}
{% load static %}

{% block content %}
<br>
<div class="card-group justify-content-center">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
        <img src="{{user.profile_image.url}}" alt="Platt" class="card-img-top">
        <div class="card-header">{{ user.biography }}</div>
        <div class="card-body">
            <p class="card-text">Username:</p>
            <h5 class="card-text">{{ user.username }}</h5>
            <br>
            <p class="card-text">Email Address:</p>
            {% if is_self %}
                <h5 class="card-text">{{user.email}}</h5>
                <br>
                <a class="btn btn-primary" href="{% url 'account:settings' user_id=request.user.pk %}">Edit Account</a>
            {% else %}
                {% if user.hide_email %}
                    <h5 class="card-text">**********</h5>
                {% else %} 
                    <h5 class="card-text">{{user.email}}</h5>
                {% endif %}
                <br>
                {% if request.user in follower %}
                    <a href="{% url 'account:follow' user_id=user.pk %}" class="btn btn-primary">Followed</a>
                {% else %}
                    <a href="{% url 'account:follow' user_id=user.pk %}" class="btn btn-outline-primary">Follow</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
        <div class="card-header">Statistics</div>
        <div class="card-body">
            <a href="{% url 'account:follow_view' user_id=user.pk what='follower' %}" style="text-decoration: none;">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        Follower - {{user.follower.all|length}}
                    </div>
                </div>
            </a>
            <a href="{% url 'account:follow_view' user_id=user.pk what='following' %}" style="text-decoration: none;">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        Following - {{user.following.all|length}}
                    </div>
                </div>
            </a>
            <a href="{% url 'account:user_posts' user_id=user.pk %}" style="text-decoration: none;">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        Posts - {{user.posts.all|length}}
                    </div>
                </div>
            </a>
            <a href="{% url 'account:user_likes' user_id=user.pk %}" style="text-decoration: none;">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        Liked Posts - {{user.likes.all|length}}
                    </div>
                </div>
            </a>
            <a href="{% url 'account:user_comments' user_id=user.pk %}" style="text-decoration: none;">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        Written Comments - {{user.comments.all|length}}
                    </div>
                </div>
            </a>
        </div>
        <div class="card text-white bg-dark">
            <div class="card-header">Friend Zone</div>
            <div class="card-body">
                {% if is_friend or is_self %}
                <a href="{% url 'friend:friend_list' user_id=user.pk %}" style="text-decoration: none;">
                    <div class="card text-white bg-dark">
                        <div class="card-header">
                            Friend List - {{user.friend_list.friends.all|length}}
                        </div>
                    </div>
                </a>
                {% else %}
                <div class="card text-white bg-dark">
                    <div class="card-header">This guy is not your Friend :(</div>
                </div>
                {% endif %}
                {% if is_self %}
                <p>You're a friend of Yourself :)</p>
                {% elif is_friend %}
                <a href="{% url 'friend:unfriend' user_id=user.pk %}" class="btn btn-primary">Unfriend</a>
                {% elif is_friend_requesting %}
                <a href="{% url 'friend:accept_request' user_id=user.pk %}" class="btn btn-success">Accept Friend Request</a>
                <a href="{% url 'friend:decline_request' user_id=user.pk %}" class="btn btn-outline-danger">Decline Friend Request</a>
                {% elif is_friend_requested %}
                <a href="{% url 'friend:cancel_request' user_id=user.pk %}" class="btn btn-danger">Cancel Friend Request</a>
                {% else %}
                <a href="{% url 'friend:create_request' user_id=user.pk %}" class="btn btn-outline-primary">Send Friend Request</a>
                {% endif %}

                
            </div>
        </div>
        <div class="card-footer">
            <p class="text-muted">Member since {{ user.date_created }} (UTC)</p>
        </div>
    </div>
</div>
{% endblock content %}