{% extends "base.html" %}
{% block title %}Settings of {{user.username}}{% endblock title %}
{% load static %}

{% block content %}

<style>
    #id_profile_image:hover {
        opacity: .3;
        cursor: pointer;
        transition: opacity .3s ease-out;
    }
    #id_profile_image_button {
        display: inline-block;
        position: absolute;
    }
    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <div class="card-group justify-content-center">
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
            <form class="form-signin" method="POST">
                {% csrf_token %}
                <img src="{{user.profile_image.url}}" id="id_profile_image" alt="Platt" class="card-img-top">
                <div class="card-header">
                    <p class="card-title">Biography:</p>
                    <textarea name="biography" class="form-control me-2 custom-dark-input" style="height: 100px;">{{ user.biography }}</textarea>
                </div>
                <div class="card-body">
                    <p class="card-text">Username:</p>
                    <input name="username" class="card-text form-control me-2 custom-dark-input" value="{{user.username}}">
                    <br>
                    <p class="card-text">Email Address:</p>
                    <input name="email" class="card-text form-control me-2 custom-dark-input" value="{{user.email}}">
                    <br>
                    <input name="hide_email" type="checkbox" id="id_hide_email" {% if user.hide_email %}checked{% endif %}>
                    <label class="form-check-label" for="id_hide_email">
                        Hide Email
                    </label>
                    <div align="center">
                        {% if error %}
                        <p style="color: red;">{{error}}</p>
                        {% endif %}
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
            <div class="card-header">
                <h3>Preferences</h3>
            </div>
            <div class="card-body">
                <div id="id_theme_toggle">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="id_theme_toggle_checkbox" checked>
                        <label class="form-check-label" for="id_theme_toggle_checkbox">
                            <span id="id_theme_toggle_icon" class="material-icons">
                                dark_mode
                            </span>
                        </label>
                    </div>               
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const theme_toggle_checkbox = document.querySelector("#id_theme_toggle_checkbox");
    const theme_toggle_icon = document.querySelector("#id_theme_toggle_icon");

    if (localStorage.getItem("theme") == "light") {
        theme_toggle_checkbox.checked = false;
        theme_toggle_icon.innerHTML = "light_mode";
    }

    theme_toggle_checkbox.addEventListener("click", () => {
        if (theme_toggle_checkbox.checked) {
            theme_toggle_icon.innerHTML = "dark_mode";
            switchStyle("dark");
        } else {
            theme_toggle_icon.innerHTML = "light_mode";
            switchStyle("light");
        }
    })

    function switchStyle(style) {
        localStorage.setItem("theme", style);

        if (style == "light") {
            lightStyle();
        } else {
            darkStyle();
        }
    }
</script>

{% endblock content %}