{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}

{% block content %}
<style>
    #id_author_profile_img {
        border-radius: 50%;
        vertical-align: middle;
    }
    #id_author_username {
        vertical-align: middle;
        display: inline;
    }
    #id_author_username:hover {
        text-decoration: underline;
    }
    #id_author_url {
        text-decoration: none;
        color: var(--main-text-color);
    }
    #id_like_count {
        vertical-align: middle;
        display: inline;
    }
    #id_like_picture {
        vertical-align: middle;
    }
</style>
<div class="container">
    {% for post in posts %}
    <br>
    <div class="card text-white bg-dark">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a href="{% url 'account:profile' user_id=post.author.id %}" id="id_author_url">
                <img src="{{post.author.profile_image.url}}" alt="Logo" width="40px" height="40px" id="id_author_profile_img">
                <h6 class="card-text" id="id_author_username">{{post.author.username}}</h6>
            </a>
            {% if request.user.pk == post.author.pk %}
                <div class="dropdown">
                    <button class="btn btn-dark" id="id_option_dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-icons">
                            more_vert
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="id_option_dropdown">
                        <li><a class="dropdown-item active" href="#">Edit</a></li>
                        <li><a class="dropdown-item" href="{% url 'posts:delete_post' post_id=post.pk %}">Delete</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="card-body">
            <p>{{post.content}}</p>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between align-items-center">
            <p class="card-text">{{post.date_created}}</p>
            <div class="dropdown">
                <button class="btn btn-dark" id="id_like_button" onclick="likePost({{post.pk}});">
                    <p id="id_like_count_{{post.pk}}" style="vertical-align: middle; display: inline;">{{post.likes.all|length}}</p>
                    <span id="id_like_picture_{{post.pk}}" class="material-icons">
                        {% if true %}
                        thumb_up
                        {% else %}
                        thumb_up_off_alt
                        {% endif %}
                    </span>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
    <p align="center">The End - no more Posts :(</p>
</div>

<script>
    function likePost(postId) {
        const likeCount = document.querySelector(`#id_like_count_${postId}`);
        const likePicture = document.querySelector(`#id_like_picture_${postId}`);
        
        fetch("{% url 'posts:like_post' post_id=1234 %}".replace("1234", postId.toString(), {method: "POST"}))
            .then((res) => res.json())
            .then((data) => {
                likeCount.innerHTML = data["likes"];
                console.log(data)
                if (data["liked"] === true) {
                    likePicture.innerHTML = "thumb_up";
                } else {
                    console.log(likePicture.innerHTML)
                    likePicture.innerHTML = "thumb_up_off_alt";
                }
            })
            .catch((e) => alert("Error while trying to like the post :("));
    }
</script>
{% endblock content %}