{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}

{% block content %}
<style>

    #id_author_profile_img {
        border-radius: 50%;
        vertical-align: middle;
    }
    #id_author_username {
        vertical-align: middle;
        display: inline;
    }
    #id_author_username:hover {
        text-decoration: underline;
    }
    #id_author_url {
        text-decoration: none;
        color: var(--main-text-color);
    }
    #id_like_count {
        vertical-align: middle;
        display: inline;
    }
    #id_like_picture {
        vertical-align: middle;
    }
    #id_comment_author_link {
        text-decoration: none;
        color: var(--main-text-color);
    }
    #id_comment_author_link:hover {
        text-decoration: underline;
    }
    #id_comment_author_profile_img {
        border-radius: 50%;
        vertical-align: middle;
        display: inline;
    }
    #id_comment_author_username {
        vertical-align: middle;
        display: inline;
    }

</style>

<div class="container">
    {% for post in posts %}
    <br>
    <div class="card text-white bg-dark">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a href="{% url 'account:profile' user_id=post.0.author.id %}" id="id_author_url">
                <img src="{{post.0.author.profile_image.url}}" alt="Logo" width="40px" height="40px" id="id_author_profile_img">
                <h6 class="card-text" id="id_author_username">{{post.0.author.username}}</h6>
            </a>
            {% if request.user.pk == post.0.author.pk %}
                <div class="dropdown">
                    <button class="btn btn-dark" id="id_option_dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-icons">
                            more_vert
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="id_option_dropdown">
                        <li><a class="dropdown-item active" href="#">Edit</a></li>
                        <li><a class="dropdown-item" href="{% url 'posts:delete_post' post_id=post.0.pk %}">Delete</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="card-body">
            <p>{{post.0.content}}</p>
            <form onsubmit="commentPost({{post.0.pk}}); return false;">
                <div class="input-group mb-3">
                    <input type="text" class="form-control custom-dark-input" id="id_comment_content_input_{{post.0.pk}}" placeholder="Comment something">
                    <button type="submit" id="id_post_comment_button" class="btn btn-outline-primary">
                        <span class="material-icons"> send </span>
                    </button>
                </div>
            </form>
            <a class="btn btn-primary" id="id_comment_dropdown_button_{{post.0.pk}}" onclick="collapseComments({{post.0.pk}});" data-bs-toggle="collapse" href="#id_comment_dropdown_{{post.0.pk}}" role="button" aria-expanded="false" aria-controls="id_comment_dropdown_{{post.0.pk}}">
                show {{post.0.comments.all|length}} comments
            </a>
            <div class="collapse" id="id_comment_dropdown_{{post.0.pk}}">
                <div class="card text-white bg-dark card-body" id="id_comment_holder_{{post.0.pk}}">
                    {% for comment in post.0.comments.all|slice:"::-1" %}
                    <div>
                        <div class="card-text">
                            <a id="id_comment_author_link" href="{% url 'account:profile' user_id=comment.author.pk %}">
                                <img id="id_comment_author_profile_img" src="{{ comment.author.profile_image.url }}" alt="Logo" width="20px" height="20px">
                                <p id="id_comment_author_username">{{ comment.author.username }}: {{ comment.content }}</p>
                            </a>
                        </div>
                        <small class="text-muted">{{comment.date_created}}</small>
                        <br>
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between align-items-center">
            <p class="card-text">{{post.0.date_created}}</p>
            <div class="dropdown">
                <button class="btn btn-dark" id="id_like_button" onclick="likePost({{post.0.pk}});">
                    <p id="id_like_count_{{post.0.pk}}" style="vertical-align: middle; display: inline;">{{post.0.likes.all|length}}</p>
                    <span id="id_like_picture_{{post.0.pk}}" class="material-icons">
                        {% if post.1 %}
                        thumb_up
                        {% else %}
                        thumb_up_off_alt
                        {% endif %}
                    </span>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
    <p align="center">The End - no more Posts :(</p>
</div>

<script>
    function likePost(postId) {
        const likeCount = document.querySelector(`#id_like_count_${postId}`);
        const likePicture = document.querySelector(`#id_like_picture_${postId}`);
            
        fetch("{% url 'posts:like_post' post_id=1234 %}".replace("1234", postId.toString(), {method: "POST"}))
            .then((res) => res.json())
            .then((data) => {
                likeCount.innerHTML = data["like_count"];
                    
                if (data["liked"] === true) {
                    likePicture.innerHTML = "thumb_up";
                } else {
                    likePicture.innerHTML = "thumb_up_off_alt";
                }
            })
            .catch((e) => alert("Error executed while trying to like the Post :("));
    }

    
    function commentPost(postId) {
        const commentInputField = document.querySelector(`#id_comment_content_input_${postId}`);
        const commentContent = commentInputField.value;
        const collapseCommentsButton = document.querySelector(`#id_comment_dropdown_button_${postId}`);
        const allCommentHolder = document.querySelector(`#id_comment_holder_${postId}`)

        fetch("{% url 'posts:comment_post' post_id=1234 comment_content=5678 %}".replace("1234", postId.toString()).replace("5678", commentContent.toString(), {method: "POST"}))
            .then((res) => res.json())
            .then((data) => {
                collapseCommentsButton.innerHTML = collapseCommentsButton.innerHTML.replace(new RegExp("[0-9]+", "i"), data["comment_count"])

                var commentHolder = document.createElement("div")

                var breakElement = document.createElement("br")
                var breakElement2 = document.createElement("br")

                var footerText = document.createElement("small")
                footerText.setAttribute("class", "text-muted")
                footerText.innerHTML = data["comment_date_created"]

                var authorSection = document.createElement("div")
                authorSection.setAttribute("class", "card-text")

                var authorLink = document.createElement("a")
                authorLink.setAttribute("id", "id_comment_author_link")
                authorLink.setAttribute("href", "{% url 'account:profile' user_id=1234 %}".replace("1234", data["comment_author_pk"]))

                var authorImage = document.createElement("img")
                authorImage.setAttribute("id", "id_comment_author_profile_img")
                authorImage.setAttribute("src", data["comment_author_profile_image_url"])
                authorImage.setAttribute("alt", "Logo")
                authorImage.setAttribute("width", "20px")
                authorImage.setAttribute("height", "20px")

                var authorUsernameContent = document.createElement("p")
                authorUsernameContent.setAttribute("id", "id_comment_author_username")
                authorUsernameContent.innerHTML = `${data["comment_author_username"]}: ${data["comment_content"]}`
                    
                authorLink.appendChild(authorImage)
                authorLink.appendChild(authorUsernameContent)
                authorSection.appendChild(authorLink)
                commentHolder.appendChild(authorSection)

                commentHolder.appendChild(footerText)
                commentHolder.appendChild(breakElement)
                commentHolder.appendChild(breakElement2)

                allCommentHolder.insertBefore(commentHolder, allCommentHolder.firstChild)
            })
            .catch((e) => console.log("Error executed while trying to comment the Post :(", e))

        commentInputField.value = ""
    }

    function collapseComments(postId) {
        const collapseButton = document.querySelector(`#id_comment_dropdown_button_${postId}`);

        if (collapseButton.innerHTML.trim().slice(0, 4) == "show") {
            collapseButton.innerHTML = collapseButton.innerHTML.replace("show", "hide");
        } else {
            collapseButton.innerHTML = collapseButton.innerHTML.replace("hide", "show");
        }
    }
    
</script>

{% endblock content %}